@import "tailwindcss";

#root,
body,
html {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    border: none;
}

:root {
    --color-bg: rgb(253, 253, 253);
    --color-subbg: rgb(255, 255, 255);

    --color-border: rgb(200, 200, 205);

    --color-icons: rgb(77, 154, 226);

    --color-text: rgb(72, 139, 216);
    --color-subtext: rgb(143, 145, 150);

    --color-button: gray;
}

.dark {
    --color-bg: rgb(65, 64, 64);
    --color-subbg: rgb(96, 92, 92);

    --color-border: rgb(108, 150, 234);

    --color-icons: hsl(210, 82%, 65%);

    --color-text: rgb(153, 171, 238);
    --color-subtext: rgb(193, 196, 205);

    --color-button: gray;
}

.bg-dynamic {
    background-color: var(--color-bg);
}

.subbg-dynamic {
    background-color: var(--color-subbg);
}

.border-dynamic {
    border-color: var(--color-border);
}

.text-dynamic {
    color: var(--color-text);
}

.subtext-dynamic {
    color: var(--color-subtext);
}

.icons-dynamic {
    color: var(--color-icons);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: auto;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield
}
